*{margin: 0;padding: 0;}

.main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.bt{
    margin:10px;
}

#btt{
    margin:10px;
}